@tailwind base;
@tailwind components;
@tailwind utilities;

.trustLogo {
    width: clamp(40px, 15.3px + 7vw, 68px);;
}

.CTAheaderContainer > h2 {
    font-size: clamp(20px, 11.1px + 3vw, 48px);
}

.CTAheaderContainer > p {
    font-size: clamp(14px, 8.2px + 1.3vw, 24px);
}

.CTAheaderContainer + div > img {
    width: clamp(200px, 180.8px + 9.6vw, 300px);
}

.swiper {
    @apply w-[300px] min-h-fit overflow-hidden;
}

.swiper-button-prev {
    transform: translate(10px , 220px);
}

.swiper-button-next {
    transform: translate(-10px , 220px);
}

.swiper-button-prev , .swiper-button-next {
    width: 10px !important;
}

.swiper-button-prev > svg , .swiper-button-next > svg {
    color: #919191;
}

.swiper-pagination {
    direction: ltr;
    transform: translateY(45px) !important;
}

.swiper-slide-shadow {
    background: transparent !important;
}